extends ../layouts/base

block content
    form#post.postform(action='/post/edit', method='POST', enctype='multipart/form-data', style='width:90%;max-width:600px;margin:0 auto')
        input(type='hidden' name='_csrf', value=_csrf, required)
        input(type='text', name='postId', value='#{post.postId}', hidden)
        input#upload-file.none(type='file', name='image', accept='image/*')

        div#select-file
            img(src=_helper.image.imageUrl(post.imagePath), alt)
            div.text
                i.icon.icon_l.icon_photo_kuro
                | 写真を選択

        p(style='color:red')= validTitle
        p タイトル:(例、ここいきたい、これやりたい、欲しいもの書き込んで叶えてもらおう!)
            input.full(type='text', name='title', value='#{post.title}')
        br
        p 日付:
            - if (post.date)
                input(type='text', name='date' id='datetimepicker', value='#{post.formatDatetime}')
            - else
                input(type='text', name='date' id='datetimepicker')
        br
        p 時間:
            select(name='hour')
                each hour in hourList
                    - if (hour.time === post.hour)
                        option(value='#{hour.time}', selected) #{hour.time}時間
                    - else
                        option(value='#{hour.time}') #{hour.time}
        br
        p
            label(for='amount') 金額:
            input#amount(type='text', name='money', value='#{post.money}', readonly='readonly', style='border: 0; color: #f6931f; font-weight: bold;')
            span 円 [手数料無料]
        div#slider
        br
        p 場所:
            input.full(type='text', name='place', value='#{post.place}')
        br
        p 住所:
            input.full(type='text', name='address', value='#{post.address}')
        br
        p URL: (例:お店のURL、欲しいもののURL)
            input.full(type='text', name='url', value='#{post.url}')
        br
        p カテゴリー:
            input.full(type='text', name='tag', value='#{tagNameList}' data-role='tagsinput')
        br
        p 内容:
        div
            textarea#textarea.full(name='content', rows='3', cols='14', text='#{post.content}', placeholder='例、ここ一緒にいってくれたら~円払います！私のヒマな時間を~円で売ります！')
        input#submit.submit(type='submit', value='投稿する')
    script(data-main='/javascripts/main/post.js', src='/javascripts/lib/requirejs.js')
